@import 'reset';
@import 'vars';
@import '../assets/styles/index';

body {
  font-family: 'JetBrains Mono', monospace;
}

.button {
  font-size: .9em;
}

.copycode {
  margin-top: 1rem;
}

.code {
  background-color: teal;
  color: antiquewhite;
  border-radius: 5px;
  padding: 1rem;
  font-size: .9em;
  text-align: left;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
