@import 'reset';
@import '_vars';
@import '../assets/styles/index';
@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

body {
  height: 100vh;
  font-family: Tomorrow, sans-serif;
  background-color: $bg-color;
  color: white;
}

h1 {
  font-family: Tomorrow, sans-serif;
  margin: 1rem;
  font-size: 2em;
  color: $pink;
}

.copycode {
  margin-top: 1rem;
}

.code {
  background-color: teal;
  color: antiquewhite;
  border-radius: 5px;
  padding: 1rem;
  font-size: .9em;
  text-align: left;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
