@import 'reset';
@import 'vars';
@import '../assets/styles/index';

body {
  height: 100vh;
  font-family: 'JetBrains Mono', monospace;
  background-color: #0e0e34;
  background-image: linear-gradient(225deg, #0e0e34 0%, #220d66 100%);
  color: white;
}

h1 {
  font-family: 'VT323', monospace;
  margin: 1rem;
  font-size: 3em;
  color: $pink;
}

.button {
  font-size: .9em;
  border: 1px solid $lightblue;
  background-color: transparent;
  color: $lightblue;
  transition: 5sec;

  &:hover {
    background-color: $lightblue;
    border: 1px solid $lightblue;
    -webkit-box-shadow: 0px 0px 10px 0px $lightblue;
    -moz-box-shadow: 0px 0px 10px 0px$lightblue;
    box-shadow: 0px 0px 10px 0px $lightblue;
    -webkit-transition: transform 0.2s 0s ease-out;
    -moz-transition: transform 0.2s 0s ease-out;
    -o-transition: transform 0.2s 0s ease-out;
    transition: transform 0.2s 0s ease-out;
  }
}

.copycode {
  margin-top: 1rem;
}

.code {
  background-color: teal;
  color: antiquewhite;
  border-radius: 5px;
  padding: 1rem;
  font-size: .9em;
  text-align: left;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
