@import '../.././styles/_vars.scss';
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 1 / 4 / 2; }
.div8 { grid-area: 3 / 2 / 4 / 3; }
.div9 { grid-area: 3 / 3 / 4 / 4; }

.button {
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: inherit;
  border-radius: 4px;
  box-shadow: none;
  font-size: 1rem;
  height: 2.5em;
  position: relative;
  background-color: #fff;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  padding: calc(.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  line-height: 1.5;
  vertical-align: top;
}

.button:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.button:focus {
  color: #363636;
  background-color: $lightblue;
  border: 1px solid $lightblue;
  -webkit-box-shadow: 0px 0px 10px 0px $lightblue;
  -moz-box-shadow: 0px 0px 10px 0px$lightblue;
  box-shadow: 0px 0px 10px 0px $lightblue;
}

.button:active {
  color: #363636;
  background-color: $lightblue;
  border: 1px solid $lightblue;
  -webkit-box-shadow: 0px 0px 10px 0px $lightblue;
  -moz-box-shadow: 0px 0px 10px 0px$lightblue;
  box-shadow: 0px 0px 10px 0px $lightblue;
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


  .buttons .button:not(:last-child) {
    margin-right: .5rem;
  }

  .buttons.group .button:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .buttons.group .button:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: -1px;
  }

  .buttons.group .button:last-child {
    margin-right: 0;
  }

  .buttons.group .button:hover {
    z-index: 2;
  }

  .buttons.group .button:focus, 
  .buttons.group .button:active {
    z-index: 3;
  }

  .buttons.group .button:focus:hover, 
  .buttons.group .button:active:hover {
    z-index: 4;
  }
